<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pedido {{ pedido?.idPedido }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div *ngIf="pagamentos">
        <h4 class="text-center">Pagamentos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Forma de Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of pagamentos">
              <td>{{ p.valorPago | currency: 'BRL': 'symbol' }}</td>
              <td>{{ p.formaPagamento.formaPagamento }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
        <div>
          <h4>Total da Entrega: {{ pedidoPag?.totalPedido | currency: 'BRL': 'symbol' }}</h4>
        </div>
        
        <div>
          <form [formGroup]="form" novalidate>
            <div class="form-group col-sm-12">
              <select class="form-control" formControlName="fPagamento" [(ngModel)]="formaPagamento">
                <option [selected]="true" value="">Selecione uma forma de pagamento</option>
                <option *ngFor="let fPagamento of formaPagamentos"
                value="{{ fPagamento.id }}">
                {{ fPagamento.formaPagamento }}
                </option>
              </select>
            </div>
  
              <div *ngIf="formaPagamento" class="form-group col-sm-12">
                <label>Valor pago:</label> <br >
                <input type="number" formControlName="valorPago" [(ngModel)]="valorPagoInput">
    
              </div>
              <div class="troco form-group col-sm-12" *ngIf="formaPagamento === '1'">
                <label>Troco para:</label> <br >
                <input type="number" [(ngModel)]="trocoInput" formControlName="troco">
              </div>
  
              <div *ngIf="form.valid" class="troco form-group col-sm-12">
                <label>Valor de Troco</label> <br >
                <h1>{{trocoInput - valorPagoInput | currency: 'BRL': 'symbol' }} </h1>
              </div>
            
              <div class="form-group col-sm-12">
                <label>Cliente</label> <br >
                <select class="form-control" formControlName="cliente">
                  <option [selected]="true" value="">Selecione um cliente</option>
                  <option *ngFor="let cliente of clientes" 
                    value="{{ cliente.id }}">
                      {{ cliente.nome }}
                  </option>
                </select>
              </div>
              
          </form>
        </div>
        
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" 
        (click)="salvar(); d('Cross click')">
        Salvar
      </button>
    </div>
  </ng-template>

<div class="report" #report>
    <h3>Pedido {{ pedido?.instante | date:'dd/MM/yyyy HH:mm' }}</h3> 
    <span class="text-center">#{{ pedido?.idPedido }}#</span><br>
    <span><strong>Cliente:</strong> {{ pedido?.cliente.nome }}</span><br>
    <span><strong>Telefone:</strong> {{ pedido?.cliente.telefone | phone }}</span><br>
    <div *ngFor="let end of pedido?.cliente.enderecos">
        <span><strong>Endereço:</strong> {{ end?.logradouro }} , {{ end?.numero}}, {{ end?.bairro }}, {{end?.complemento }}</span>
    </div>
    <div>
        <h4>Produtos</h4>
        <div *ngFor="let item of pedido?.itens">
            <span><strong>{{ item.quantidade }}x Item: {{ item.produto.nome }} Valor: {{ item.preco  | currency: 'BRL': 'symbol'}}</strong></span>
        </div>
    </div>
    
    <div>
        <h2>Total: {{ pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h2>
        <h5 *ngIf="pedido?.formaPagamento.formaPagamento == 'DINHEIRO'">Troco para : {{ pedido?.valorPago | currency: 'BRL': 'symbol' }}</h5>
        <h5 *ngIf="pedido?.formaPagamento.formaPagamento == 'DINHEIRO'">Valor de troco : {{ pedido?.valorPago  - pedido?.totalPedido | currency: 'BRL': 'symbol' }}</h5>
    </div>
    <div *ngIf="pedido?.observacao">
        <h5>Observação: {{ pedido?.observacao }}</h5>
    </div>
    <h4><strong>Forma de Pagamento:</strong>  {{ pedido?.formaPagamento.formaPagamento }}</h4>
    <br *ngIf="pedido?.formaPagamento.formaPagamento == 'ASSINAR'">
    <hr *ngIf="pedido?.formaPagamento.formaPagamento == 'ASSINAR'">
    <div>
        <h3>MARMITESKE 66 9 9602-9237</h3>
    </div>
</div>
<a href="javascript: window.print(report);"><button class="btn btn-primary" (click)="imprimir()" >Imprimir</button></a>
<button class="btadd btn btn-primary" [routerLink]="['/order-confirmation']">Voltar</button>
<button class="btadd btn btn-primary" (click)="open(content)">Pagamento</button>
